[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
setuptools-rust = "*"
how-to-speedup-python = {path = "."}
uu-journal-club = {path = "."}

[requires]
python_version = "3.8"
